.home-full-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fdf690;
}

.home-full-page h1 {
  padding: 1rem;
}
